alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
alias path="echo $PATH | tr : '\n'"
alias v='vagrant'
alias vu='vagrant up'
alias vp='vagrant provision'
alias vd='vagrant destroy'
alias vss='vagrant ssh'
alias gaa='git add . -u'
alias vr='vagrant reload'
alias vpl='vagrant plugin'
alias k='bundle exec kitchen'
alias knode='knife node list'
alias dps='docker ps'
alias drm='docker rm'
alias drmi='docker rmi'
alias b2d='boot2docker'
alias comp='docker-compose'
autoload -U zmv
alias mmv='noglob zmv -W'
